<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a> <br>(早川 明男)</h1>

        <img src="{{site.img.portrait | relative_url}}" />
        <div id="icons">
          <a href="https://github.com/ahaya3776/" target="_blank" rel="noopener noreferrer"><img src="{{site.img.github | relative_url}}" id="icon" width="48" height="48" /></a>
          <a href="https://twitter.com/ahaya3776/" target="_blank" rel="noopener noreferrer"><img src="{{site.img.twitter | relative_url}}" id="icon" width="56" height="48" /></a>
          <a href="https://www.linkedin.com/in/akio-hayakawa-461059196" target="_blank" rel="noopener noreferrer"><img src="{{site.img.linkedin | relative_url}}" id="icon" width="48" height="48" /></a>
          <a href="https://scholar.google.com/citations?hl=en&user=YetFJQUAAAAJ", target="_blank" rel="noopener noreferrer"><img src="{{site.img.scholar | relative_url}}" id="icon" width="48" height="48" /></a>
          <a href="mailto:akio.hayakawa@upf.edu", target="_blank" rel="noopener noreferrer"><img src="{{site.img.email | relative_url}}" id="icon" width="48" height="48" /></a>
        </div>

      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
